@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0 ;
    background-color: black;
}

header{
    background-color: black;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content:right;
}

nav ul li{
    text-decoration: none;
    margin-right: 6rem;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

main{
    background-color: #f8a390;
    height: 80vh;
}

.mainDiv{
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem;
}

.mainDiv img{
    width: 15rem;
    height: 15rem;
}

.mainDiv button {
    background-color: black;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: .6rem;
    cursor: pointer;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

#fade{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 5;
}

#modal{
    visibility: hidden;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 10;
    width: 80vw;
    height: 70vh;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: .5rem;
}
